.button {
  padding: 8px 32px;
  background: #e84393;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
}

.buttonTransparent {
  background: transparent;
  color: #e84393;
}

@media screen and (max-width: 576px) {
  .button {
    font-size: 16px;
    padding: 6px 24px;
  }
}
