.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  transition: transform 0.3s ease;
}

.headerHidden {
  transform: translateY(-80px);
}

@media screen and (max-width: 576px) {
  .header {
    height: 60px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .headerHidden {
    transform: translateY(-60px);
  }
}

.headerLeftSection {
  display: flex;
  align-items: center;
  flex: 1;
}

.headerBackLink {
  display: flex;
}

.headerBackIcon {
  height: 56px;
  margin-right: 48px;
  fill: white;
}

@media screen and (max-width: 576px) {
  .headerBackIcon {
    height: 36px;
    margin-right: 12px;
  }
}

.headerTitle {
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  .headerTitle {
    font-size: 16px;
  }
}

.headerRightSection {
  display: flex;
  flex: 0 0 auto;
}

.headerButton {
  flex: 0 0 36px;
  width: 36px;
  margin-left: 24px;
  font-size: 0;
}

@media screen and (max-width: 576px) {
  .headerButton {
    flex: 0 0 20px;
    width: 20px;
    margin-left: 12px;
  }
}

.headerIcon {
  width: 100%;
  fill: white;
}

.page {
  margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
  .page {
    margin-bottom: 16px;
  }
}

.pageSpanWidth {
  width: 100%;
}

.pageSpanHeight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pageWebtoon {
  margin-bottom: 0;
}

.pageWrapper {
  position: relative;
  height: 100%;
}

.pagePadding {
  width: 100%;
}

.pageInfo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 24px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 10px;
  font-weight: 700;
  border-bottom-left-radius: 8px;
}

.pageImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pageImageHidden {
  display: none;
}

.previewModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 4;
  padding: 12px 0 24px;
  overflow-y: auto;
}

.previewGridHeader {
  padding: 0 24px;
  margin-bottom: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.previewGridHeaderAddIconWrapper {
  display: flex;
}

.previewGridHeaderAddIcon {
  height: 36px;
}

.previewGrid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.preview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 0 0 25%;
  width: 25%;
  padding: 0 8px;
  margin-bottom: 16px;
}

@media screen and (max-width: 576px) {
  .preview {
    flex: 0 0 50%;
    width: 50%;
  }
}

.previewWrapper {
  width: 100%;
  position: relative;
  border: 1px dashed #e84393;
  border-radius: 8px;
  overflow: hidden;
}

.previewWrapperFavorite {
  border-color: #f6b93b;
}

.previewPadding {
  width: 100%;
}

.previewImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.previewSelectedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e84393;
  opacity: 0.5;
}

.previewStarIconWrapper {
  display: flex;
  margin-top: 12px;
}

.previewStarIcon {
  height: 24px;
}

.settingsModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.settingsModal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 3;
  padding: 24px 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-top: 6px solid #e84393;
}

@media screen and (max-width: 576px) {
  .settingsModal {
    padding: 16px 0;
  }
}

.settingsActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 24px 4px 0;
  margin-bottom: 12px;
}

.settingsSection {
  padding: 4px 16px 20px;
}

.settingsSectionTitle {
  text-transform: uppercase;
  color: #9fadbd;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

@media screen and (max-width: 576px) {
  .settingsSectionTitle {
    font-size: 18px;
  }
}

.settingsOption {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.settingsOption:not(:last-child) {
  margin-bottom: 20px;
}

.settingsOptionIcon {
  flex: 0 0 20px;
  width: 20px;
  margin-right: 24px;
  fill: #e84393;
}

@media screen and (max-width: 576px) {
  .settingsOptionIcon {
    flex: 0 0 16px;
    width: 16px;
    margin-right: 20px;
  }
}

.settingsOptionIconHidden {
  visibility: hidden;
}

.settingsOptionTitle {
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .settingsOptionTitle {
    font-size: 16px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  transition: transform 0.3s ease;
}

.footerHidden {
  transform: translateY(80px);
}

@media screen and (max-width: 576px) {
  .footer {
    height: 60px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .footerHidden {
    transform: translateY(60px);
  }
}

.createModal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 5;
  padding: 24px 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-top: 6px solid #e84393;
}

@media screen and (max-width: 576px) {
  .createModal {
    padding: 16px 0;
  }
}

.createActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 24px 4px 0;
  margin-bottom: 12px;
}

.createSection {
  padding: 12px 24px;
}

.createField {
  margin-bottom: 16px;
}

.createLabel {
  font-weight: 700;
  margin-bottom: 8px;
}

.createInput {
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 16px 16px;
}

.createInput:disabled {
  border-color: rgb(150, 150, 150);
  color: rgb(150, 150, 150);
}

.createInput::placeholder {
  color: white;
}

.createInput:disabled::placeholder {
  color: rgb(150, 150, 150);
}
