.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

@media screen and (max-width: 576px) {
  .header {
    height: 72px;
    padding-left: 16px;
  }
}

.headerBackIcon {
  height: 36px;
  fill: white;
}

@media screen and (max-width: 576px) {
  .headerBackIcon {
    height: 24px;
  }
}

.heroBackgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.heroBackgroundWrapper::before {
  display: block;
  content: "";
  padding-top: 70%;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.heroBackgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

.infoContainer {
  padding-top: 160px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .infoContainer {
    padding-top: 80px;
  }
}

.infoThumbnailWrapper {
  position: relative;
  flex: 0 0 25%;
  width: 25%;
  margin-left: 32px;
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .infoThumbnailWrapper {
    margin-left: 16px;
    flex: 0 0 30%;
    width: 30%;
  }
}

.infoThumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.infoContent {
  margin-left: 24px;
  padding-right: 16px;
  flex: 1;
}

@media screen and (max-width: 576px) {
  .infoContent {
    margin-left: 16px;
    padding-right: 12px;
  }
}

.infoTitle {
  font-size: 36px;
  font-weight: 800;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  .infoTitle {
    font-size: 20px;
  }
}

.infoAuthor {
  color: #9fadbd;
  font-weight: 600;
}

.infoCircle {
  color: #9fadbd;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .infoAuthor,
  .infoCircle {
    font-size: 12px;
  }
}

.previewGrid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-top: 32px;
}

@media screen and (max-width: 576px) {
  .previewGrid {
    margin-top: 20px;
  }
}

.preview {
  flex: 0 0 calc(100% / 4);
  width: calc(100% / 4);
  padding: 0 12px;
  margin-top: 16px;
}

@media screen and (max-width: 576px) {
  .preview {
    flex: 0 0 50%;
    width: 50%;
  }
}

.previewWrapper {
  position: relative;
  display: block;
  width: 100%;
}

.previewPadding {
  width: 100%;
}

.previewImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.chapters {
  margin-top: 48px;
  padding: 0 32px;
}

@media screen and (max-width: 576px) {
  .chapters {
    padding: 0 16px;
  }
}

.chapter {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.chapterTitle {
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .chapterTitle {
    font-size: 14px;
  }
}

.chapterSubtitle {
  font-size: 14px;
  color: #9fadbd;
}

@media screen and (max-width: 576px) {
  .chapterSubtitle {
    font-size: 12px;
  }
}
