.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  transition: transform 0.3s ease;
}

.headerHidden {
  transform: translateY(-96px);
}

@media screen and (max-width: 576px) {
  .header {
    height: 72px;
    padding-left: 16px;
  }

  .headerHidden {
    transform: translateY(-72px);
  }
}

.headerLeftSection {
  display: flex;
  align-items: center;
  flex: 1;
}

.headerBackIcon {
  height: 40px;
  margin-right: 48px;
  fill: white;
}

@media screen and (max-width: 576px) {
  .headerBackIcon {
    height: 24px;
    margin-right: 24px;
  }
}

.headerTitle {
  font-size: 28px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  .headerTitle {
    font-size: 16px;
  }
}

.headerAuthor {
  font-size: 20px;
  color: rgb(200, 200, 200);
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .headerAuthor {
    font-size: 12px;
  }
}

.headerRightSection {
  display: flex;
  flex: 0 0 auto;
}

.headerButton {
  flex: 0 0 40px;
  width: 40px;
  margin-left: 24px;
  font-size: 0;
}

@media screen and (max-width: 576px) {
  .headerButton {
    flex: 0 0 24px;
    width: 24px;
    margin-left: 16px;
  }
}

.headerIcon {
  width: 100%;
  fill: white;
}

.pageGridPreview {
  display: flex;
  flex-flow: row wrap;
}

.page {
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
  .page {
    margin-bottom: 16px;
  }
}

.pageWebtoon {
  margin-bottom: 0;
}

.pagePreview {
  padding: 0 8px;
  flex: 0 0 25%;
  width: 25%;
}

@media screen and (max-width: 576px) {
  .pagePreview {
    flex: 0 0 calc(100% / 3);
    width: calc(100% / 3);
  }
}

.pageWrapper {
  position: relative;
  display: block;
  width: 100%;
}

.pagePadding {
  width: 100%;
}

.pageImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.settingsModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.settingsModal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: black;
  z-index: 3;
  padding: 24px 0;
}

@media screen and (max-width: 576px) {
  .settingsModal {
    padding: 16px 0;
  }
}

.settingsActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 24px 4px 0;
  margin-bottom: 12px;
}

.settingsSection {
  padding: 4px 16px 20px;
}

.settingsSectionTitle {
  text-transform: uppercase;
  color: #9fadbd;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

@media screen and (max-width: 576px) {
  .settingsSectionTitle {
    font-size: 18px;
  }
}

.settingsOption {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.settingsOption:not(:last-child) {
  margin-bottom: 20px;
}

.settingsOptionIcon {
  flex: 0 0 20px;
  width: 20px;
  margin-right: 24px;
  fill: #e84393;
}

@media screen and (max-width: 576px) {
  .settingsOptionIcon {
    flex: 0 0 16px;
    width: 16px;
    margin-right: 20px;
  }
}

.settingsOptionIconHidden {
  visibility: hidden;
}

.settingsOptionTitle {
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .settingsOptionTitle {
    font-size: 16px;
  }
}
