.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  transition: transform 0.3s ease;
}

.headerHidden {
  transform: translateY(-96px);
}

@media screen and (max-width: 576px) {
  .header {
    height: 72px;
    padding-left: 16px;
  }

  .headerHidden {
    transform: translateY(-72px);
  }
}

.headerLeftSection {
  display: flex;
  align-items: center;
  flex: 1;
}

.headerBackIcon {
  height: 40px;
  margin-right: 48px;
  fill: white;
}

@media screen and (max-width: 576px) {
  .headerBackIcon {
    height: 24px;
    margin-right: 24px;
  }
}

.headerTitle {
  font-size: 28px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  .headerTitle {
    font-size: 16px;
  }
}

.headerAuthor {
  font-size: 20px;
  color: rgb(200, 200, 200);
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .headerAuthor {
    font-size: 12px;
  }
}

.headerRightSection {
  display: flex;
  flex: 0 0 auto;
}

.headerGridButton {
  flex: 0 0 40px;
  width: 40px;
  margin-left: 24px;
  font-size: 0;
}

@media screen and (max-width: 576px) {
  .headerGridButton {
    flex: 0 0 24px;
    width: 24px;
    margin-left: 16px;
  }
}

.headerGridIcon {
  width: 100%;
  fill: white;
}

.pageGridPreview {
  display: flex;
  flex-flow: row wrap;
}

.page {
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
  .page {
    margin-bottom: 16px;
  }
}

.pagePreview {
  padding: 0 8px;
  flex: 0 0 25%;
  width: 25%;
}

@media screen and (max-width: 576px) {
  .pagePreview {
    flex: 0 0 calc(100% / 3);
    width: calc(100% / 3);
  }
}

.pageWrapper {
  position: relative;
  display: block;
  width: 100%;
}

.pagePadding {
  width: 100%;
}

.pageImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
